conky.config = {
-- Conky settings --
    update_interval = 1,							--frissítési idővallum másodpercben
    background = true,								--áttetsző háttér
    cpu_avg_samples = 2,							--cpu pontosabb monitorozásához
    net_avg_samples = 2,							--internet pontosabb monitorozása
    diskio_avg_samples = 2, 						--meghajtó pontosabb monitorozásához
    override_utf8_locale = true,					--karakterkódolás felülbírálása
    double_buffer = true,							--nem villodzik az ablak
    no_buffers  = true,
    text_buffer_size = 256, 						--szöveg buffer mérete
    imlib_cache_size = 10,
    max_user_text = 15000,
    format_human_readable = true,					--mértékegységek nem bájtokban

-- Window specifications --
    own_window = true,  							--saját ablakbeállítások bekapcsolása
    own_window_type = 'normal',   					--ablaktípusok, override=ablakmenedzser szabályi nem vonatkoznak rá, desktop=díszítés nélküli panel=mindig felül,  dock=mindig felül, normal=normál
    own_window_transparent = false,  				--conky ablak átlátszóvá válik
    own_window_argb_visual = true,  				--átlátszó ablak
    own_window_argb_value = 255,      				--átlátszóság mértéke 0-255
    own_window_class = 'Conky',
    own_window_hints = 'undecorated,sticky,below,skip_taskbar,skip_pager', 	--ablak tulajdonságai below=alultartás skip_taskbar=tálca mellőzése undecorated=keret és gombok eltávolítása override=ablakkezelő felülbírálása sticky=minden munkaterületen
    own_window_title = 'cpu_left',
    minimum_width = 605,        					--minimum szélesség
    minimum_height = 181, 							--minimum magasság
    alignment = 'top_left', 						--jobb felső sarokba igazít
    gap_x = 657,  								    --x irányba eltolás
    gap_y = 451, 	    							    --y irányba eltolás

-- Graphics settings --
    draw_shades = false, 							--szöveg árnyékolása
    draw_outline = false,							--körülrajzolás
    draw_borders = false,							--téglalap alakú keretet rajzol
    draw_graph_borders = false, 					--keret a grafikon köré
    border_width = 0, 								--keret vastagsága
    border_inner_margin = 0,
    border_outer_margin = 0,
    
-- Text settings --
    use_xft = true, 								--élsimítás
    font = 'Ubuntu:size=7',          				--alapértelmezett betűtípus
    color0 = 'C8C8C8',								--előre meghatározott szín --szürke
    color1 = 'c7282d',                              --bordó
    color2 = '0c8077',                              --acélkék

};
conky.text = [[
${image ~/Conky/images/cpu_center.png -s 605x181}
${alignr 467}${voffset 37}${font Xolonium:size=7}${exec echo "scale=1; $((`cpufreq-info -c 0 -f`)) / 1000 / 1000" | bc | awk '{printf "%1.1f\n", $0}'} GHz
${alignr 467}${voffset 7}${color1}${font Xolonium:size=7}${exec sensors | grep "Core 0:" | cut -c17-23}
${alignc}${voffset -20}${color0}${font Xolonium:size=12}Central Processing Unit
${alignc}${voffset 8}${color1}${font Xolonium:size=12}${execi 1000 cat /proc/cpuinfo | grep 'model name' | sed -e 's/model name.*: //'| uniq | cut -c 1-26}
${alignr 90}${voffset -69}${color0}${font Xolonium:size=7}${exec echo "scale=1; $((`cpufreq-info -c 2 -f`)) / 1000 / 1000" | bc | awk '{printf "%1.1f\n", $0}'} GHz
${alignr 90}${voffset 7}${color1}${font Xolonium:size=7}${exec sensors | grep "Core 2:" | cut -c17-23}
${alignr 467}${voffset 9}${color0}${font Xolonium:size=7}${exec echo "scale=1; $((`cpufreq-info -c 1 -f`)) / 1000 / 1000" | bc | awk '{printf "%1.1f\n", $0}'} GHz
${alignr 467}${voffset 7}${color1}${font Xolonium:size=7}${exec sensors | grep "Core 1:" | cut -c17-23}
${alignr 90}${voffset -33}${color0}${font Xolonium:size=7}${exec echo "scale=1; $((`cpufreq-info -c 3 -f`)) / 1000 / 1000" | bc | awk '{printf "%1.1f\n", $0}'} GHz
${alignr 90}${voffset 7}${color1}${font Xolonium:size=7}${exec sensors | grep "Core 3:" | cut -c17-23}
${voffset -80}
]];
