conky.config = {
-- Conky settings --
    update_interval = 1,							--frissítési idővallum másodpercben
    background = true,								--áttetsző háttér
    cpu_avg_samples = 2,							--cpu pontosabb monitorozásához
    net_avg_samples = 2,							--internet pontosabb monitorozása
    diskio_avg_samples = 2, 						--meghajtó pontosabb monitorozásához
    override_utf8_locale = true,					--karakterkódolás felülbírálása
    double_buffer = true,							--nem villodzik az ablak
    no_buffers  = true,
    text_buffer_size = 256, 						--szöveg buffer mérete
    imlib_cache_size = 10,
    max_user_text = 15000,
    format_human_readable = true,					--mértékegységek nem bájtokban

-- Window specifications --
    own_window = true,  							--saját ablakbeállítások bekapcsolása
    own_window_type = 'normal',   					--ablaktípusok, override=ablakmenedzser szabályi nem vonatkoznak rá, desktop=díszítés nélküli panel=mindig felül,  dock=mindig felül, normal=normál
    own_window_transparent = false,  				--conky ablak átlátszóvá válik
    own_window_argb_visual = true,  				--átlátszó ablak
    own_window_argb_value = 255,      				--átlátszóság mértéke 0-255
    own_window_class = 'Conky',
    own_window_hints = 'undecorated,sticky,below,skip_taskbar,skip_pager', 	--ablak tulajdonságai below=alultartás skip_taskbar=tálca mellőzése undecorated=keret és gombok eltávolítása override=ablakkezelő felülbírálása sticky=minden munkaterületen
    own_window_title = 'cpu_right',
    minimum_width = 656,        					--minimum szélesség
    minimum_height = 181, 							--minimum magasság
    alignment = 'top_left', 						--jobb felső sarokba igazít
    gap_x = 1263,  								    --x irányba eltolás
    gap_y = 451, 	    							    --y irányba eltolás

-- Graphics settings --
    draw_shades = false, 							--szöveg árnyékolása
    draw_outline = false,							--körülrajzolás
    draw_borders = false,							--téglalap alakú keretet rajzol
    draw_graph_borders = false, 					--keret a grafikon köré
    border_width = 0, 								--keret vastagsága
    border_inner_margin = 0,
    border_outer_margin = 0,
    
-- Text settings --
    use_xft = true, 								--élsimítás
    font = 'Ubuntu:size=7',          				--alapértelmezett betűtípus
    color0 = 'C8C8C8',								--előre meghatározott szín --szürke
    color1 = 'c7282d',                              --bordó
    color2 = '0c8077',                              --acélkék

    lua_load = '~/Conky/lua/cpu_right.lua',
    lua_draw_hook_pre = 'main_graph',

};
conky.text = [[
${image ~/Conky/images/cpu_right.png -s 656x181}
${alignc 246}${voffset 20}${font Xolonium:Bold:size=7}CPU3 LOADED
${alignc 246}${voffset 4}${font Xolonium:size=16}${cpu cpu3} %
${alignc 246}${voffset 19}${font Xolonium:size=16}${cpu cpu4} %
${alignc 246}${voffset -7}${font Xolonium:Bold:size=7}CPU4 LOADED
]];
